<div class="col-3 mb-5">
  <div class="card">
    <%= image_tag("placeholder_600_400.svg", class: "card-img-top") %>
    <div class="card-body">
      <h5 class="card-title"><%= wishlist.product.name.truncate(19) %> - <%= money(wishlist.product.starting_price) %></h5>
      <%= link_to "View Detail", product_path(wishlist.product.slug), class: "btn btn-primary d-block mb-3", target: "_top" %>
      <% if user_signed_in? && is_on_wishlist(wishlist.product.id) %>
        <%= button_to "Remove from Wishlist", users_wishlist_path(wishlist.product.id),
            class: "btn btn-outline-danger d-block", style: "width: 100%;", method: :delete %>
      <% else %>
        <%= button_to "Add to Wishlist", users_wishlists_path(product_id: wishlist.product.id),
            class: "btn btn-outline-danger d-block", style: "width: 100%;", method: :post,
            data: { turbo_frame: "_top" } %>
      <% end %>
    </div>
  </div>
</div>
