<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <%= link_to "MARKETPLACE", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <%= form_with url: products_path, html: { method: :get, class: "d-flex me-auto" },
          data: { turbo_frame: "tables", turbo_stream: true, turbo_action: "advance",
          controller: "form", form_target: "source" } do |f| %>
        <input class="form-control me-2" name="q[name_cont]" type="search" placeholder="Search" />
        <button class="btn btn-outline-success" type="submit">Search</button>
      <% end %>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Products", products_path, class: "nav-link" %>
        </li>

        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Dashboards", "#", class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
