<tr>
  <td><%= order.code %></td>
  <td><%= money(order.total_payment) %></td>
  <td class="text-capitalize">
    <span class="badge rounded-pill <%= transaction_status(order.status) %>">
      <%= order.status.humanize %>
    </span>
  </td>
  <td class="text-center"><%= date_time(order.created_at) %></td>
  <td>
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
      >
        Action
      </button>
      <ul class="dropdown-menu">
        <% if order.status == "pending" %>
          <li>
            <%= link_to "Continue Payment", users_checkout_path(order), class: "dropdown-item", target: "_top" %>
          </li>
        <% end %>
        <li>
          <%= link_to "Detail", users_order_path(order),
              class: "dropdown-item", data: { turbo_frame: "modal" } %>
        </li>
        <li>
          <%= link_to "Cancel", users_order_path(order, type: "cancel"),
              class: "dropdown-item", data: { turbo_method: :put, turbo_confirm: "Are you sure you want to cancel order: #{order.code}?" } if order.status == "pending" %>
        </li>
      </ul>
    </div>
  </td>
</td>
