<% content_for :head do %>
  <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/css/tom-select.css" %>
<% end %>

<div class="mb-3">
  <label class="form-label">Name</label>
  <%= f.text_field :name, class: "form-control" %>
</div>

<div class="mb-3">
  <label class="form-label">Description</label>
  <%= f.text_area :description, class: "form-control", rows: 5 %>
</div>

<div class="mb-3">
  <label class="form-label">Starting Price</label>
  <%= f.number_field :starting_price, class: "form-control", min: 1 %>
</div>

<div class="mb-3">
  <label class="form-label">Delivery Fee</label>
  <%= f.number_field :delivery_fee, class: "form-control", min: 0 %>
</div>

<div class="mb-3">
  <label class="form-label">Category</label>
  <%= f.select(:category_id, options_for_select({}, f.object.category_id),
      { include_blank: "Select Category" }, { id: "tom-select", url: merchants_categories_url,
      param: "?name=", selected_data: { id: f.object.category_id, name: f.object.category.name }.to_json, data: { controller: "select" } }) %>
</div>

<div class="mb-3">
  <label class="form-label">Status</label>
  <%= f.select(:status, options_for_select(Product::STATUS.map {|status| [status.humanize, status]}, f.object.status),
      { include_blank: "Select Status" }, { class: "form-control" }) %>
</div>

<div class="nested-form-photo">
  <template data-nested-form-target="template">
    <%= f.fields_for :photos, Photo.new, child_index: "NEW_RECORD" do |photo_fields| %>
      <%= render "merchants/products/form_photo", f: photo_fields %>
    <% end %>
  </template>

  <%= f.fields_for :photos do |photo_fields| %>
    <%= render "merchants/products/form_photo", f: photo_fields %>
  <% end %>

  <div data-nested-form-target="target"></div>

  <button type="button" class="btn btn-outline-dark" data-action="nested-form#add">Add Photo</button>
</div>
