<div class="row">
  <div class="col-3">
    <%= render "shared/merchant/sidebar" %>
  </div>
  <div class="col-9">
    <div class="mb-3">
      <%= link_to "+ Add Product", new_merchants_product_path,
          class: "btn btn-primary btn-sm", data: { turbo: false } %>
    </div>

    <%= turbo_frame_tag "tables" do %>
      <div class="row">
        <% if @products.present? %>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Category</th>
                  <th>Starting Price</th>
                  <th>Status</th>
                  <th class="text-center">Created At</th>
                  <th class="text-center">Updated At</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <%= render partial: "product", collection: @products %>
              </tbody>
            </table>
          </div>

          <div class="mb-4"></div>

          <%= render "shared/pagy", pagy: @pagy %>
        <% else %>
          <div class="text-center">
            <h1>Data Not Found</h1>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
