<tr>
  <td><%= order.code %></td>
  <td><%= order.status.humanize %></td>
  <td><%= money(order.total_payment) %></td>
  <td><%= date_time(order.created_at) %></td>
  <td><%= date_time(order.updated_at) %></td>
</tr>
