<tr>
  <td><%= order.code %></td>
  <td>
    <span class="badge rounded-pill <%= transaction_status(order.status) %>">
      <%= order.status.humanize %>
    </span>
  </td>
  <td><%= money(order.total_payment) %></td>
  <td><%= date_time(order.created_at) %></td>
  <td><%= date_time(order.updated_at) %></td>
</tr>
