<%= turbo_frame_tag "summary" do %>
  <table class="table table-borderless">
    <tr>
      <td>Sub Total</td>
      <td>:</td>
      <td class="text-end"><%= money(@order.sub_total) %></td>
    </tr>
    <tr>
      <td>Total Payment</td>
      <td>:</td>
      <td class="text-end"><%= money(@order.total_payment) %></td>
    </tr>
  </table>

  <%= form_with(url: users_checkout_path(@order), method: :put, data: { turbo: false }) do |f| %>
    <div class="input-group mb-3">
      <input type="text" class="form-control" name="applied_promo" placeholder="Enter promo code" />
      <button class="btn btn-primary" type="submit">Apply</button>
    </div>
  <% end %>

  <div class="d-grid">
    <%= form_with(url: users_payments_path, method: :post, html: { class: "mb-3" }, data: { turbo: false }) do |f| %>
      <%= f.hidden_field :order_id, value: @order.id %>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="payment_method" id="e-wallet" value="e-wallet" />
        <label class="form-check-label" for="e-wallet">
          E-Wallet
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="payment_method" id="online-payment" value="online-payment" />
        <label class="form-check-label" for="online-payment">
          Online Payment
        </label>
      </div>
      <%= f.submit "Proceed to Payment", class: "btn btn-primary mt-3", style: "width: 100%;" %>
    <% end %>
  </div>
<% end %>
