<div class="list-group">
  <%= link_to "Banks", admins_banks_path,
      class: "list-group-item list-group-item-action #{menu_condition("admins/banks", "active")}" %>
</div>
<div class="list-group">
  <%= link_to "Categories", admins_categories_path,
      class: "list-group-item list-group-item-action #{menu_condition("admins/categories", "active")}" %>
</div>
<div class="list-group">
  <%= link_to "Contacts", admins_contacts_path,
      class: "list-group-item list-group-item-action #{menu_condition("admins/contacts", "active")}" %>
</div>
<div class="list-group">
  <%= link_to "Promotions", admins_promotions_path,
      class: "list-group-item list-group-item-action #{menu_condition("admins/promotions", "active")}" %>
</div>
<div class="list-group">
  <%= link_to "Promotions", admins_subscribers_path,
      class: "list-group-item list-group-item-action #{menu_condition("admins/subscribers", "active")}" %>
</div>
<div class="list-group">
  <%= link_to "Taxes", admins_taxes_path,
      class: "list-group-item list-group-item-action #{menu_condition("admins/taxes", "active")}" %>
</div>
<div class="list-group">
  <%= link_to "Top Ups", admins_top_ups_path,
      class: "list-group-item list-group-item-action #{menu_condition("admins/top_ups", "active")}" %>
</div>
<div class="list-group">
  <%= link_to "Withdrawals", admins_withdrawals_path,
      class: "list-group-item list-group-item-action #{menu_condition("admins/withdrawals", "active")}" %>
</div>
